
		html {
			overflow-x:hidden;
		}

		body {
		font-size: 16px; }

		.container-fluid {
			font-family: 'Josefin Slab', serif;
			background-image: url("../images/wpmd.jpg");
			color:black;
		}

		h1, h3 {
			font-family: 'Amatic SC', cursive;
			font-size: 45px;
			opacity: .9;
		}


		.card {
			width: 200px;
			height:320px;
		}

		#player-score {
			text-align: center;
			margin-left: 10px;
			margin-top: 30px;
			background-color: white;
			opacity: .3;
			box-shadow: 5px 5px 5px black;
			padding-bottom: 6px;
			padding-top: 6px;
		}
		.rules-box {
			margin-top: 10px;
			margin-bottom: 10px;
			background-color: white;
			opacity: .3;
			box-shadow: 5px 5px 5px black;
			padding-bottom: 10px;
			padding-top: 10px;
		}

		.hero {
			width: 190px;
			height:320px;
			margin-top: 40px;
			margin-left: 100px;
			border-radius: 3%;
			box-shadow: 5px 5px 5px black;
		}

		.header-box {
			color:white;
			opacity: .4%;
		}
